<div class="html-container" [innerHTML]="htmlSource"></div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="html-src-container" *ngIf="resourceData && !isLoading">
  <app-single-score-cards
    [scoreCardsData]="resourceData"
  ></app-single-score-cards>
</div>