
	<div  style="float: right; margin: 0px 0px 15px 15px; width: 25%;"><img src={{photo}} /></div>
<div class="card-section">
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 70%;" *ngIf="userExists">

		<!-- Claim Column -->
		<ng-container matColumnDef="claim">
			<th mat-header-cell *matHeaderCellDef> Claim </th>
			<td mat-cell *matCellDef="let element"> {{element[0]}} </td>
		</ng-container>
	
		<!-- Value Column -->
		<ng-container matColumnDef="value">
			<th mat-header-cell *matHeaderCellDef> Value </th>
			<td mat-cell *matCellDef="let element"> {{element[1]}} </td>
		</ng-container>
	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<br>
	<button mat-raised-button color="primary" [routerLink]="['/profile-edit', profile.id]" *ngIf="userExists">Edit</button>
</div>

<div class="card-section" *ngIf="!userExists">
	<h3><b>Welcome Onboard!</b></h3>
	<p>The web API will now query Microsoft Graph to find your profile.</p>
	<p>After that, you may see and update your profile information.</p>
	<button mat-raised-button color="primary" (click)="submitProfile(profile)">Accept</button>
</div>