<div class="external-resource">
  <div class="external-resource-wrapper">
    <div class="external-resource-icon-wrapper">
      <img [src]="logoImage">
    </div>
    <div class="external-resource-content-wrapper">
      <div class="resource-summary" #resourceSummary>
      </div>
      <div class="resource-bulleted-list">
        <ul class="resource-list">
          <li class="resource-list-item" *ngFor="let item of bulletedList"><mat-icon>folder</mat-icon>{{ item }}</li>
        </ul>
      </div>
      <div class="resource-environment-message">
        {{ envMessage }}
      </div>
      <div class="resource-environment-link-button">
        <app-button
          *ngIf="resourceButtonSettings"
          [buttonSettings]="resourceButtonSettings"
        >
        </app-button>
      </div>
    </div>
  </div>
</div>
