@import '../../../scss/variables';
@import '../../../scss/mixins';

.external-resource {
  margin-left: 60px;
  .external-resource-wrapper {
    @include flex($align: flex-start, $justify: flex-start);
    .external-resource-icon-wrapper {
      margin-right: 50px;
      img {
        max-width: 150px;
      }
    }
    .external-resource-content-wrapper {
      .resource-summary {
        font-size: $size-large;
        font-weight: $weight-semibold;
      }
      .resource-bulleted-list {
        .resource-list {
          columns: 2;
          padding: 2rem 0;
          .resource-list-item {
            @include flex($justify: flex-start);
            mat-icon {
              padding-right: 0.5rem;
              color: $resource-button;
            }
          }
        }
      }
      .resource-environment-message {
        letter-spacing: 0.04rem;
      }
      .resource-environment-link-button {
        padding: 4rem 0;
      }
    }
  }
}