<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf="sideNavRoutes" #leftSidenav mode="side" opened (mouseenter)="onSideNavToggle(true)" (mouseleave)="onSideNavToggle(false)">
    <!-- todo: break nav-list down into a menu-list component -->
    <mat-nav-list
      tabindex="1"
      aria-label="Side Dashboard Navigation"
      class="sidenav-menu-container"
      [@onSideNavChange]="sideNavChange ? 'open' : 'close'"
    >
      <div *ngFor="let route of sideNavRoutes">
        <mat-accordion *ngIf="route.children; else singleNavItem">
          <mat-expansion-panel class="sidenav-expansion">
            <mat-expansion-panel-header class="sidenav-expansion-header">
              <mat-panel-title class="sidenav-expansion-title">
                <a mat-list-item class="side-nav-item" [ngClass]="activeExpansionPanel(route.path)">
                  <mat-icon mat-list-icon>{{ route?.icon }}</mat-icon>
                  <span [@animateText]="showTitle ? 'show' : 'hide'" mat-line>{{ route?.title }}</span>
                </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let childRoute of route.children">
              <a mat-list-item *ngIf="(childRoute?.path?.length || 0) > 0" [routerLink]="[rootRoute+'/'+route.path+'/'+childRoute?.path]" routerLinkActive="sidenav-link-active" class="side-nav-item-2">
                <mat-icon mat-list-icon>{{ childRoute?.icon }}</mat-icon>
                <span [@animateText]="showTitle ? 'show' : 'hide'" mat-line>{{ childRoute?.title }}</span>
              </a>
              <div *ngFor="let thirdRoute of childRoute.children">
                <a mat-list-item *ngIf="(thirdRoute?.path?.length || 0) > 0" [routerLink]="[rootRoute+'/'+route.path+'/'+childRoute.path+'/'+thirdRoute?.path]" routerLinkActive="sidenav-link-active" class="side-nav-item-3">
                  <mat-icon mat-list-icon>{{ thirdRoute?.icon }}</mat-icon>
                  <span [@animateText]="showTitle ? 'show' : 'hide'" mat-line>{{ thirdRoute?.title }}</span>
                </a>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- If route has no children -->
        <ng-template #singleNavItem>
          <a mat-list-item *ngIf="(route?.path?.length || 0) > 0" [routerLink]="[rootRoute+'/'+route?.path]" routerLinkActive="sidenav-link-active" class="side-nav-item">
            <mat-icon mat-list-icon>{{ route?.icon }}</mat-icon>
            <span [@animateText]="showTitle ? 'show' : 'hide'" mat-line>{{ route?.title }}</span>
          </a>
        </ng-template>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="main-content"
    [ngClass]="sideNavRoutes ? '' : 'sidenav-empty'"
  >
    <!-- MAIN CONTENT OF THE APP GOES HERE -->
    <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
    <router-outlet *ngIf="!isIframe"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
