@import '../../../scss/variables';

.sidenav-container {
  .mat-sidenav {
    position: fixed;
    left: 0;
    top: $header-height;
    .sidenav-menu-container {
      min-width: 50px;
      .sidenav-expansion {
        box-shadow: none;
        .sidenav-expansion-header {
          padding: 0;
          height: $sidenav-item-height !important;
          .sidenav-expansion-title {
            margin-right: 0 !important;
          }
        }
      }
      .side-nav-item {
        font-size: $size-small !important;
        height: $sidenav-item-height !important;
        .mat-list-icon {
          font-size: $sidenav-icon-size;
          width: $sidenav-icon-size;
          height: $sidenav-icon-size;
          .mat-icon {
            font-size: $sidenav-icon-size;
          }
        }
        &.sidenav-link-active {
          color: $accent-light;
        }
      }
      .side-nav-item-2,
      .side-nav-item-3 {
        font-size: $size-smaller !important;
        height: $sidenav-subitem-height !important;
        &.sidenav-link-active {
          color: $accent-light;
        }
      }
    }
  }

  .main-content {
    min-height: 100vh;
    padding: 0 2rem;
    margin-left: $sidenav-closed-width !important;
    background: #efefef;
    background-image: url('../../../assets/images/dhs-watermark.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center calc(1.5 * $header-height);
    &.sidenav-empty {
      margin-left: 0 !important;
    }
  }
}
