<section id="cards" class="container pb-5">
  <div class="d-flex my-3">
    <div class="jumbotron w-100 py-5 mx-auto">
      <div class="display-4">
        rVision Principles
      </div>
      <div class="row">
        <div class="col-12 justify-content-center mt-3">
          <h3>People</h3>
          <div class="float-left text-left">
            <ul>
              <li>
                We understand every organization is unique.
              </li>
              <li>
                A champion is needed to coach their peers and staff through innovative organizational change.
              </li>
              <li>Supports integration with cloud and enterprise on-premises resources</li>
            </ul>
          </div>
        </div>
        <div class="col-12 justify-content-center mt-3">
          <h3>Process</h3>
          <div class="float-left text-left">
            <ul>
              <li>
                Include all IT Operations, Application Performance, and Security Teams in a single project.
              </li>
              <li>
                Challenge, and assist, our customers in developing their unique path to as a Service IT
              </li>
              <li>Supports integration with cloud and enterprise on-premises resources</li>
            </ul>
          </div>
        </div>
        <div class="col-12 justify-content-center mt-3">
          <h3>Technology</h3>
          <div class="float-left text-left">
            <ul>
              <li>
                Innovate observable data intelligence with AI/ML to support all monitoring, troubleshooting, and automation functions.
              </li>
              <li>
                Provide experts to build a single context observability platform through data consolidation.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
