table {
    min-width: 500px;
    width: 100%;
}

.mat-grid-tile{
    padding-top: 0px !important;
}

.mat-column-manager {
    flex: content;
    width: 20%;
    min-width: 100px;
}

.mat-column-displayName {
    flex: content;
    width: 20%;
    min-width: 150px;
}
.mat-column-jobTitle {
    flex: content;
    width: 40%;
    min-width: 250px;
}

.mat-column-mail {
    flex:content;
    width: 20%;
    min-width: 100px;
}