<p *ngIf="!users"><em>Loading...</em></p>
  <h4 class="card-title text-primary" style="text-align: center; background-color: lightblue">Users & Managers</h4>
    <mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="manager">
        <mat-header-cell *matHeaderCellDef> Manager </mat-header-cell>
        <mat-cell *matCellDef="let user" >{{user.managerName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="displayName">
        <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.displayName }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell style="padding-left: 1px;" *matCellDef="let user"> {{user.jobTitle}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mail">
        <mat-header-cell *matHeaderCellDef> eMail </mat-header-cell>
        <mat-cell style="padding-left: 10px;" *matCellDef="let user"> {{user.mail}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; "></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
      <mat-paginator 
      [length]="5"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]"
      (page)="onChangePage($event)">
   </mat-paginator>

