<app-tile-row
  *ngIf="element.elementType === 'TileRow'"
  [tileRowConfig]="element.elementInputs?.tileRowConfig"
  [tileRowResourceUrl]="element.elementInputs?.tileRowResourceUrl"
></app-tile-row>

<app-data-table
  *ngIf="element.elementType === 'DataTable'"
  [tableTitle]="element.elementInputs?.tableTitle"
  [staticTableData]="element.elementInputs?.staticTableData"
  [tableResourceUrl]="element.elementInputs?.tableResourceUrl"
  [columnFormatter]="element.elementInputs?.columnFormatter"
  [customDisplayedColumns]="element.elementInputs?.customDisplayedColumns"
  [tableDataType]="element.elementInputs?.tableDataType"
  [noService]="element.elementInputs?.noService"
  [tableLegend]="element.elementInputs?.tableLegend"
  [linkUrl]="element.elementInputs?.linkUrl"
  [exportAllUrl]="element.elementInputs?.exportAllUrl"
></app-data-table>

<app-iframe
  *ngIf="element.elementType === 'IFrame'"
  [iFrameData]="element.elementInputs?.iFrameData"
></app-iframe>

<app-img-container
  *ngIf="element.elementType === 'ImageContainer'"
  [imgTitle]="element.elementInputs?.imgTitle"
  [sourceUrl]="element.elementInputs?.sourceUrl"
  [linkUrl]="element.elementInputs?.linkUrl"
  [width]="element.elementInputs?.width"
  [height]="element.elementInputs?.height"
  [buttonLabel]="element.elementInputs?.buttonLabel"
></app-img-container>

<app-html-container
  *ngIf="element.elementType === 'HTMLContainer'"
  [htmlSource]="element.elementInputs?.htmlSource"
  [sourceUrls]="element.elementInputs?.sourceUrls"
></app-html-container>

<app-external-resource-layout
  *ngIf="element.elementType === 'ExternalResourceLayout'"
  [resourceTitle]="element.elementInputs?.resourceTitle"
  [logoImage]="element.elementInputs?.logoImage"
  [resourceSummary]="element.elementInputs?.resourceSummary"
  [bulletedList]="element.elementInputs?.bulletedList"
  [envMessage]="element.elementInputs?.envMessage"
  [resourceUrl]="element.elementInputs?.resourceUrl"
></app-external-resource-layout>

<app-expandable-panel
  *ngIf="element.elementType === 'BarChart'"
  [panelTitle]="getPanelProps('barChartOptions')?.title || ''"
  [panelLinkUrl]="getPanelProps('barChartOptions')?.linkUrl"
  [panelIcon]="getPanelProps('barChartOptions')?.panelIcon"
  [panelIconColor]="getPanelProps('barChartOptions')?.panelIconColor"
>
  <app-bar-chart
    [barChartResourceUrl]="element.elementInputs?.barChartResourceUrl"
    [barChartOptions]="element.elementInputs?.barChartOptions"
  ></app-bar-chart>
</app-expandable-panel>

<app-expandable-panel
  *ngIf="element.elementType === 'PieChart'"
  [panelTitle]="getPanelProps('pieChartOptions')?.title || ''"
  [panelLinkUrl]="getPanelProps('pieChartOptions')?.linkUrl"
  [panelIcon]="getPanelProps('pieChartOptions')?.panelIcon"
  [panelIconColor]="getPanelProps('pieChartOptions')?.panelIconColor"
>
  <app-pie-chart
    [pieChartResourceUrl]="element.elementInputs?.pieChartResourceUrl"
    [pieChartOptions]="element.elementInputs?.pieChartOptions"
  ></app-pie-chart>
</app-expandable-panel>

<app-expandable-panel
  *ngIf="element.elementType === 'LineChart'"
  [panelTitle]="getPanelProps('lineChartOptions')?.title || ''"
  [panelLinkUrl]="getPanelProps('lineChartOptions')?.linkUrl"
  [panelIcon]="getPanelProps('lineChartOptions')?.panelIcon"
  [panelIconColor]="getPanelProps('lineChartOptions')?.panelIconColor"
>
  <app-line-chart
    [lineChartResourceUrl]="element.elementInputs?.lineChartResourceUrl"
    [lineChartOptions]="element.elementInputs?.lineChartOptions"
  ></app-line-chart>
</app-expandable-panel>

<app-expandable-panel
  *ngIf="element.elementType === 'Gauge'"
  [panelTitle]="getPanelProps('gaugeOptions')?.title || ''"
  [panelLinkUrl]="getPanelProps('gaugeOptions')?.linkUrl"
  [panelIcon]="getPanelProps('gaugeOptions')?.panelIcon"
  [panelIconColor]="getPanelProps('gaugeOptions')?.panelIconColor"
>
  <app-gauge
    *ngIf="element.elementType === 'Gauge'"
    [gaugeResourceUrl]="element.elementInputs?.gaugeResourceUrl"
    [gaugeOptions]="element.elementInputs?.gaugeOptions"
  ></app-gauge>
</app-expandable-panel>

<app-chip-list
  *ngIf="element.elementType === 'ChipList'"
  [chipListConfig]="element.elementInputs?.chipListConfig"
></app-chip-list>