@import '../../../scss/variables';
@import '../../../scss/mixins';

  .data-table-controls {
    @include flex($justify: flex-end, $align: flex-end);
    margin: 0 0 0.5rem;
  }
  .table-export-buttons {
    .export-btn,
    .export-all-btn {
      @include themeColorClasses();
      .export-file-icon {
        padding-right: 0.25rem;
      }
      .export-expand-icon {
        padding-left: 0.5rem;
      }
    }
  }
  .table-wrapper {
    width: 100%;
    margin: 0 auto;
    .table-loading-error {
      @include flex();
      width: 100%;
      padding-top: 2rem;
    }
    .column-filter-field {
      padding: 0 5px;
    }
    .data-table {
      width: 100%;
      table-layout: auto !important;
      th {
        font-size: $size-small;
        font-weight: $weight-heavy;
        color: $dark-gray-text;
        vertical-align: top !important;
        .table-column-header {
          padding-top: 1rem;
          .mat-sort-header-container {
            .mat-sort-header-arrow {
              color: $table-header-sort-arrow;
            }
          }
        }
      }
      tr.mat-row:nth-child(odd) {
        background-color: $zebra-row-dark;
      }
      tr.mat-row:nth-child(even) {
        background-color: $zebra-row-light;
      }
      th,
      td {
        vertical-align: middle;
        padding: 0 8px;
        &:first-of-type {
          padding-left: 24px;
        }
        &:last-of-type {
          padding-right: 24px;
        }
      }
      td {
        font-size: $size-smaller;
        color: $dark-gray-text;
        .table-cell-wrapper {
          @include flex($justify: flex-start);
          width: 100%;
        }
        &.left {
          .table-cell-wrapper {
            justify-content: flex-start;
          }
        }
        &.center {
          .table-cell-wrapper {
            justify-content: center;
          }
        }
        &.right {
          .table-cell-wrapper {
            justify-content: flex-end;
          }
        }
      }
    }
    .data-table-paginator {
      background-color: $zebra-row-dark;
    }
  }




