<app-expandable-panel [panelTitle]="tableTitle" [panelLinkUrl]="linkUrl" [panelIcon]="panelIcon" [panelIconColor]="panelIconColor">
  <div class="data-table-controls" *ngIf="tableHasLoadedSuccessfully">
    <div class="table-export-buttons">
      <button
        mat-raised-button
        [matTooltip]="exportBtnTooltip"
        matTooltipClass="accent-light"
        matTooltipPosition="above"
        class="export-btn"
        ngClass="accent-light"
        color=""
        [matMenuTriggerFor]="exportTableData"
      >
        <mat-icon class="export-file-icon" aria-hidden="false" aria-label="Export Table">file_download</mat-icon>
        Export Table
        <mat-icon class="export-expand-icon" aria-label="Open Export File Type Menu">expand_more</mat-icon>
      </button>
      <mat-menu #exportTableData="matMenu">
        <button mat-menu-item (click)="exporter.exportTable('xlsx', { fileName: tableExportFileName, sheet: tableExportSheetName })">EXCEL</button>
        <button mat-menu-item (click)="exporter.exportTable('csv', { fileName: tableExportFileName })">CSV</button>
        <button mat-menu-item (click)="exporter.exportTable('txt', { fileName: tableExportFileName })">TXT</button>
      </mat-menu>
      <button
        *ngIf="exportAllUrl"
        mat-raised-button
        class="export-all-btn"
        (click)="exportAll()"
        color=""
        ngClass="primary"
        matTooltip="Download a CSV of all raw, unfiltered data, including additional fields used for decision-making (not shown in the table)."
        matTooltipClass="primary"
        matTooltipPosition="above"
      ><mat-icon class="export-file-icon" aria-hidden="false" aria-label="ExportTable">file_download</mat-icon>Export All</button>
    </div>
  </div>
  <div class="table-wrapper mat-elevation-z1">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
    <app-table-legend *ngIf="tableLegend" [legendConfig]="tableLegend"></app-table-legend>
    <div class="table-loading-error" *ngIf="!isLoading && !tableHasLoadedSuccessfully">This data could not be retrieved.</div>
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      class="data-table"
      recycleRows
      matTableExporter
      #exporter="matTableExporter"
      matTableFilter
      [exampleEntity]="filterEntity"
      [filterType]="filterType"
      [propertyOptions]="propertyOptions"
    >
      <!-- Column Definitions -->
      <ng-container *ngFor="let column of tableColumns; index as i" [matColumnDef]="column.dataValue">
        <th mat-header-cell *matHeaderCellDef>
          <div class="table-column-header" mat-sort-header [ngClass]="alignHeader(column)">{{ column.headerLabel || getColumnTitle(column.dataValue) || displayedColumns[i] }}</div>
          <mat-form-field *ngIf="!column.noFilter" class="column-filter-field">
            <input *ngIf="!column.filterOptions && !column.useFilterDropdown" matInput [placeholder]="formatFilterLabel(column)" [(ngModel)]="filterEntity[column.dataValue]">
            <mat-label *ngIf="column.filterOptions || column.useFilterDropdown">{{ formatFilterLabel(column) }}</mat-label>
            <mat-select *ngIf="column.filterOptions || column.useFilterDropdown" [(ngModel)]="filterEntity[column.dataValue]">
              <mat-option>{{ formatFilterLabel(column) }}</mat-option>
              <mat-option *ngFor="let option of formatFilterOptions(column) | keyvalue" [value]="option.value">{{ option.key }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let row" [ngClass]="column?.alignContent || ''">
          <span class="table-cell-wrapper">
            {{ formatCellData(row[column.dataValue]) }}
            <ng-container *ngIf="column?.actionsFormatter">
              <ng-container *ngFor="let action of column?.actionsFormatter(row); trackBy: trackTooltips">
                <app-button *ngIf="!action.actionType || action.actionType !== 'modal'" [buttonSettings]="action"></app-button>
                <app-button *ngIf="action.actionType === 'modal'" [buttonSettings]="action" (click)="openModal(action)"></app-button>
              </ng-container>
            </ng-container>
          </span>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      class="data-table-paginator"
      [length]="10"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]"
      (page)="onChangePage($event)">
    </mat-paginator>
  </div>
</app-expandable-panel>
