@import '../../../scss/variables';
@import '../../../scss/mixins';

.tile-row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  .tile-row-item {
    flex: 1 1 auto;
    padding: $dashboard-element-padding;
    &.tile-wide {
      @include tileSize();
    }
    &.tile-third {
      @include tileSize(33%);
    }
    &.tile-quarter {
      @include tileSize(25%);
    }
    &.tile-narrow {
      @include tileSize(20%);
    }
    &.tile-half {
      @include tileSize(50%);
    }
    &.tile-full {
      @include tileSize(100%);
    }
  }
}

@media screen and (max-width: 1200px) {
    .tile-row {
        flex-wrap: wrap;
        .tile-row-item {
          &.tile-wide,
          &.tile-half,
          &.tile-third,
          &.tile-quarter,
          &.tile-narrow {
            @include tileSize(100%);
          }
        }
    }
}