<div class="tile-row" *ngIf="mappedData">
  <div *ngIf="mappedData[0]" class="tile-row-item" [ngClass]="(mappedData && mappedData[0] && mappedData[0].tileWidth) ? mappedData[0].tileWidth : 'tile-wide'">
    <app-tile-card
      *ngIf="mappedData && mappedData[0]"
      [cardData]="mappedData[0]"
    >
    </app-tile-card>
  </div>
  <div *ngIf="mappedData[1]" class="tile-row-item" [ngClass]="(mappedData && mappedData[1] && mappedData[1].tileWidth) ? mappedData[1].tileWidth : 'tile-wide'">
    <app-tile-card
      *ngIf="mappedData && mappedData[1]" 
      [cardData]="mappedData[1]"
    >
    </app-tile-card>
  </div>
  <div *ngIf="mappedData[2]" class="tile-row-item" [ngClass]="(mappedData && mappedData[2] && mappedData[2].tileWidth) ? mappedData[2].tileWidth : 'tile-narrow'">
    <app-tile-card
      *ngIf="mappedData && mappedData[2]" 
      [cardData]="mappedData[2]"
    >
    </app-tile-card>
  </div>
  <div *ngIf="mappedData[3]" class="tile-row-item" [ngClass]="(mappedData && mappedData[3] && mappedData[3].tileWidth) ? mappedData[3].tileWidth : 'tile-narrow'">
    <app-tile-card
      *ngIf="mappedData && mappedData[3]" 
      [cardData]="mappedData[3]"
    >
    </app-tile-card>
  </div>
  <div *ngIf="mappedData[4]" class="tile-row-item" [ngClass]="(mappedData && mappedData[4] && mappedData[4].tileWidth) ? mappedData[4].tileWidth : 'tile-narrow'">
    <app-tile-card
      *ngIf="mappedData && mappedData[4]" 
      [cardData]="mappedData[4]"
    >
    </app-tile-card>
  </div>
</div>
