<div class="line-chart-wrapper">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="error-placeholder" *ngIf="!isLoading && !lineChartProperties">Chart data could not be loaded.</div>
  <ngx-charts-line-chart
    *ngIf="!isLoading && lineChartProperties"
    [scheme]="lineChartProperties.colorScheme"
    [results]="lineChartProperties.results"
    [legend]="lineChartProperties.legend"
    [xAxis]="lineChartProperties.showXAxis || true"
    [yAxis]="lineChartProperties.showYAxis || true"
    [showGridLines]="globalLineProps.showGridLines"
    [showXAxisLabel]="lineChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="lineChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="lineChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="lineChartProperties.yAxisTickFormatting"
    [xAxisLabel]="lineChartProperties.xAxisLabel || ''"
    [yAxisLabel]="lineChartProperties.yAxisLabel || ''"
    [timeline]="lineChartProperties.timeline"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="lineChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-line-chart>
</div>
