<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<h1 class="modal-title" mat-dialog-title>{{ data.title || 'View Details' }}</h1>
<mat-dialog-content class="modal-content">
  <div *ngIf="data.modalContentString">
    {{ data.modalContentString }}
  </div>
  <div *ngIf="data.extra && extraDataFormatter">
    <div class="extra-item-wrapper" *ngFor="let extraItem of extraDataFormatter">
      <div class="item-name">{{ extraItem.displayLabel || formatTitle(extraItem.dataValue) }}</div>
      <div class="item-value">{{ extraItem.valueFormatter ? extraItem.valueFormatter(data.extra) : data.extra[extraItem.dataValue] }}</div>
    </div>
  </div>
  <div *ngIf="data.extra && !extraDataFormatter">
    <div class="extra-item-wrapper" *ngFor="let extraItem of data.extra | keyvalue">
      <div class="item-name">{{ extraItem.key }}</div>
      <div class="item-value">{{ extraItem.value }}</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="data.cancelButtonText">{{ data.cancelButtonText }}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ data.confirmButtonText || 'Done' }}</button>
</mat-dialog-actions>