@import '../../../scss/variables';
@import '../../../scss/mixins';

.modal-title {
  font-size: $size-large;
  line-height: 1.5;
}

.modal-content {
  .extra-item-wrapper {
    @include flex($justify: space-between);
    padding: 0.25rem 0;
    .item-name {
      font-weight: $weight-bold;
      padding-right: 4rem;
    }
  }
}