<div class="img-container">
  <div class="img-title-wrapper">
    <h2 class="img-title">{{ imgTitle }}</h2>
    <a mat-raised-button color="accent" class="see-more-btn" *ngIf="linkUrl" [href]="linkUrl" target="_blank">{{ buttonLabel || 'See More' }}</a>
  </div>
  <img
    *ngIf="sourceUrl"
    [width]="width"
    [height]="height"
    frameBorder="0"
    [src]="sourceUrl"
  />
  <div class="img-controls">
    
  </div>
  <div *ngIf="!sourceUrl" class="img-container-load-error">The image could not be loaded.</div>
</div>
