<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="panel-container">
    <mat-expansion-panel-header>
    <mat-panel-title class="panel-title">
      <span class="panel-title">
        <span class="panel-icon" *ngIf="panelIcon">
          <mat-icon class="panel-title-icon" [ngClass]="panelIconColor || ''">{{ panelIcon }}</mat-icon>
        </span>
        {{ panelTitle }}
      </span>
      <span class="panel-ext-link" *ngIf="panelLinkUrl">
        <a [href]="panelLinkUrl" target="_blank" title="See More" alt="See More"><mat-icon>open_in_new</mat-icon></a>
      </span>
    </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-content></ng-content>
  </mat-expansion-panel>
</mat-accordion>
