@import '../../../scss/variables';
@import '../../../scss/mixins';

.panel-container {
  border-radius: $dashboard-element-border-radius !important;
  margin: $dashboard-element-padding !important;
  box-shadow: $dashboard-element-box-shadow !important;
  .mat-expansion-panel-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 48px;
    &.mat-expanded {
      height: 48px;
    }
  }
  .panel-title {
    font-size: $size-large;
    line-height: 1.5;
    @include flex($justify: space-between, $align: center);
    .panel-ext-link {
      @include flex();
      width: 18px;
      height: 18px;
      margin-right: 7px;
      a {
        @include flex();
        mat-icon {
          @include iconSize(18px);
          color: $light-gray-text;
        }
      }
    }
  }

}