<div class="gauge-wrapper">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <ngx-charts-gauge
    *ngIf="!isLoading"
    [scheme]="gaugeProperties.colorScheme"
    [results]="gaugeProperties.results"
    [legend]="gaugeProperties.legend"
    [min]="gaugeProperties.min || 0"
    [max]="gaugeProperties.max || 100"
    [valueFormatting]="gaugeProperties.valueFormatting"
    [legendPosition]="gaugeProperties.legendPosition"
    [axisTickFormatting]="gaugeProperties.axisTickFormatting"
    [angleSpan]="180"
    [startAngle]="-90"
    [bigSegments]="globalGaugeProps.bigSegments"
    [smallSegments]="globalGaugeProps.smallSegments"
    [showText]="true"
    [customColors]="severityGauge"
    (select)="onSelect($event)"
  >
  <ng-template #tooltipTemplate let-model="model">
    <app-chart-tooltip [model]="model" [type]="gaugeProperties?.tooltipType || ''"></app-chart-tooltip>
  </ng-template>
  </ngx-charts-gauge>
</div>




