@import '../../../scss/mixins';
@import '../../../scss/variables';

.chip-list {
  width: 100%;
  .chip-icon {
    padding-right: 7px;
  }
  .chip-item {
    @include themeColorClasses();
    font-size: $size-smaller;
  }
}