<mat-chip-list class="chip-list">
  <mat-chip *ngFor="let chip of chipListConfig" class="chip-item" [ngClass]="chip.color || ''" selected><mat-icon class="chip-icon" *ngIf="chip?.icon">{{ chip.icon }}</mat-icon>{{ chip.label }}</mat-chip>
</mat-chip-list>
