@import '../../../../scss/mixins';
@import '../../../../scss/variables';

.table-legend {
  padding: 2.5rem;
  .table-legend-title {
    width: 100%;
    text-align: center;
    font-weight: $weight-bold;
    font-size: $size-large;
    padding: 0.5rem 0 1.5rem;
  }
  .legend-item-wrapper {
    columns: 2;
    .table-legend-item {
      @include flex($justify: flex-start);
      padding: 1rem 0 0;
      .legend-item-icon {
        padding: 0 1rem;
      }
    }
  }
  
}