<div class="table-legend">
  <div class="table-legend-title">Legend</div>
  <div class="legend-item-wrapper">
    <div class="table-legend-item" *ngFor="let item of legendButtonSettings">
      <app-button class="legend-item-icon" [buttonSettings]="item"></app-button><span class="legend-item-text">{{ item.buttonLabel }}</span>
    </div>
  </div>
</div>
