@import '../../../scss/mixins';
// @import '../../../scss/theme/theme';

.login-screen {
    height: 100vh;
    width: 100%;
    background-color: rgb(12,100,141);
    background-image: linear-gradient(0deg, rgba(12,100,141,0.8) 0%, rgba(40,161,202,0.7) 70%, rgba(33,191,227,0.6) 100%), url('../../../assets/images/dhs-watermark.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    @include flex($align: flex-start);
    .dash-login-card {
        @include flex($direction: column);
        margin-top: 25vh;
        min-width: 25%;
        height: 30vh;
        background: rgba(256, 256, 256, 0.75);
        .login-emblem-wrapper {
            @include flex();
            padding: 0 1rem;
            .login-emblem {
              @include flex();
              .emblem-text {
                color: #07467d;
                font-size: 2rem;
                font-weight: 800;
              }
              .dash-login-logo {
                padding: 2rem 1rem;
                width: 175px;
                height: 175px;
              }
            }
          }
        .dash-login-btn {
            width: 200px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .login-screen {
        .dash-login-card {
            min-width: 30%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .login-screen {
        .dash-login-card {
            min-width: 40%;
        }
    }
}

@media screen and (max-width: 900px) {
    .login-screen {
        .dash-login-card {
            min-width: 50%;
        }
    }
}

@media screen and (max-width: 600px) {
    .login-screen {
        .dash-login-card {
            min-width: 75%;
        }
    }
}