<div class="login-screen">
    <mat-card class="dash-login-card">
        <div class="login-emblem-wrapper">
            <div class="login-emblem">
              <span class="emblem-text">DCCO</span>
              <img class="dash-login-logo" src="../../../assets/images/dhs-logo.svg" />
              <span class="emblem-text">DASH</span>
            </div>
          </div>
        <button mat-raised-button class="dash-login-btn" color="accent" *ngIf="!isLoggedIn" (click)="login()">Sign In</button>
    </mat-card>
</div>

