<router-outlet></router-outlet>

<mat-card class="card-section" style="display: none; visibility: hidden;" *ngIf="!isLoggedIn">
  <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-dark">
    <div class="row">

      <div class="col-12 justify-content-center mt-3">
        <h2>Visibility Integration for Security, Infrastructure, Operations and Network</h2>
  
        <p class="welcome">A single context enterprise observability methodology powering dynamic intelligence for Zero-Trust visibility, analytics, automation and orchestration, and governance.</p>
      </div>
    </div>
  </div></mat-card>

<table mat-table style="display: none; visibility: hidden;" [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="isLoggedIn">

  <!-- Claim Column -->
  <ng-container matColumnDef="claim">
    <th mat-header-cell *matHeaderCellDef> Claim </th>
    <td mat-cell *matCellDef="let element"> {{element.claim}} </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>