<app-dash-login *ngIf="!isLoggedIn"></app-dash-login>
<app-dash-navbar *ngIf="isLoggedIn"></app-dash-navbar>
<app-side-nav *ngIf="isLoggedIn"></app-side-nav>
<app-dash-footer *ngIf="isLoggedIn"></app-dash-footer>
