<mat-card class="{{ cardClass }}">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <mat-card-content class="card-content" *ngIf="cardData && !isLoading">
    <div class="card-content-top">
      <div class="card-meta">
        <div class="card-title">{{ cardData.cardTitle }}</div>
        <div class="current-period">{{ currentPeriod }}</div>
      </div>
      <div class="card-link" *ngIf="cardData.linkUrl">
        <a [href]="cardData.linkUrl" target="_blank"><mat-icon>open_in_new</mat-icon></a>
      </div>
    </div>
    <div class="card-content-middle">
      <div class="card-content-left">
        <div class="metric-values">
          <div class="current-records-of">{{ cardData.currentValue.recordsOf }}</div>
          <div class="current-value">{{ cardCurrentValue }}</div>
        </div>
      </div>
      <div class="card-content-right">
        <div class="metric-values">
          <div class="prev-records-of">{{ cardData?.prevValue?.recordsOf || '' }}</div>
          <div class="prev-value">
            {{ cardPrevValue }}
            <app-button *ngIf="cardData?.prevValue?.displayValue === '0'" [buttonSettings]="notFoundBtnData"></app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-content-bottom">
      <mat-chip-list *ngIf="cardPrevValue">
        <mat-chip class="trend-chip" [ngClass]="trendDisposition" *ngIf="!cardData?.hideTrend">
          <mat-icon class="trend-icon">{{ trendIcon }}</mat-icon>{{ formatTrend(trendPercent) }}
        </mat-chip>
      </mat-chip-list>
      <div class="prev-period">{{ previousPeriod }}</div>
    </div>
  </mat-card-content>
</mat-card>