@import '../../../scss/variables';
@import '../../../scss/mixins';

@font-face {
  font-family: 'PublicSans-Light';
  src: url(../../../assets/fonts/PublicSans-Light.ttf);
}

@font-face {
  font-family: 'PublicSans-Regular';
  src: url(../../../assets/fonts/PublicSans-Regular.ttf);
}

@font-face {
  font-family: 'PublicSans-Bold';
  src: url(../../../assets/fonts/PublicSans-Bold.ttf);
}

@font-face {
  font-family: 'PublicSans-ExtraBold';
  src: url(../../../assets/fonts/PublicSans-ExtraBold.ttf);
}

.tile-card {
  position: relative;
  color: $tile-card-text;
  padding: 1rem 3rem;
  line-height: 1.15;
  border-radius: $dashboard-element-border-radius;
  min-height: 140px;
  max-height: 140px;
  height: 100%;
  // &.base-blue {
  //   background-color: $tile-card-base-blue;
  // }
  // &.base-red {
  //   background-color: $tile-card-base-red;
  // }
  // &.sec-blue {
  //   background-color: $tile-card-sec-blue;
  // }
  // &.tert-blue {
  //   background-color: $tile-card-tert-blue;
  // }
  // &.dark-blue {
  //   background-color: $tile-card-dark-blue;
  // }
  &.base-blue,
  &.base-red,
  &.sec-blue,
  &.tert-blue,
  &.dark-blue {
    background-color: white;
  }
  .card-content {
    @include flex($direction: column, $justify: space-between);
    height: 100%;
    .card-content-top {
      @include flex($justify: space-between);
      width: 100%;
      padding-top: 0.5rem;
      .card-meta {
        @include flex($direction: column, $justify: flex-start, $align: flex-start);
        .card-title {
          color: $dark-gray-text;
          font-size: $size-large;
          font-family: 'PublicSans-Bold';
          margin-bottom: auto;
        }
        .current-period {
          color: $mid-gray-text;
          font-size: $size-smaller;
          font-family: 'PublicSans-Light';
        }
      }
      .card-link {
        a {
          color: black;
          mat-icon {
            @include iconSize(18px);
          }
        }
      }
    }
    .card-content-middle {
      @include flex($justify: space-between);
      width: 100%;
      .card-content-left {
        @include flex($justify: flex-start);
        width: 50%;
        .metric-values {
          text-align: left;
          .current-value {
            color: $tile-card-base-blue; // $tile-card-emphasis-text;
            font-size: $size-title-sm;
            font-family: 'PublicSans-Bold';
            line-height: 1;
          }
          .current-records-of {
            color: $tile-card-base-blue; // $tile-card-emphasis-text;
            font-size: $size-normal;
            font-family: 'PublicSans-Bold';
            line-height: 1;
          }
        }
      }
      .card-content-right {
        @include flex($justify: flex-end);
        width: 50%;
        .metric-values {
          text-align: right;
          .prev-value {
            @include flex();
            // opacity: 0.85;  // for light text
            opacity: 0.4;
            color: $tile-card-text;
            font-size: $size-title-min;
            font-family: 'PublicSans-Bold';
            app-button {
              @include flex($justify: flex-start, $align: flex-start);
            }
            line-height: 1;
          }
          .prev-records-of {
            opacity: 0.4;
            color: $tile-card-text;
            font-size: $size-normal;
            font-family: 'PublicSans-Bold';
            line-height: 1;
          }
        }
      }
    }
    .card-content-bottom {
      @include flex($justify: space-between, $align: center);
      width: 100%;
      .trend-chip {
        font-size: $size-small;
        min-height: 24px;
        @include flex($align: center);
        &.good {
          color: $success;
        }
        &.bad {
          color: $warn;
        }
        &.flat {
          color: $neutral;
        }
        .trend-icon {
          @include iconSize(24px);
          padding-right: 4px;
        }
      }
      .prev-period {
        color: $dark-gray-text;
        font-size: $size-small;
        font-family: 'PublicSans-Light';
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tile-card {
    .card-content {
      .card-content-top {
        @include flex($direction: column);
      }
      .card-content-middle {
        @include flex($direction: column);
        .card-content-left,
        .card-content-right {
          @include flex();
        }
      }
    }
  }
}