<button
  *ngIf="buttonSettings.buttonType === 'mini-fab' || !buttonSettings.buttonType"
  class="app-button"
  mat-mini-fab
  color=""
  [ngClass]="buttonSettings.buttonColor || ''"
  [matTooltip]="buttonSettings.buttonLabel || ''"
  [matTooltipClass]="tooltipClasses"
  matTooltipPosition="above"
  (click)="buttonSettings.buttonAction"
>
  <mat-icon *ngIf="buttonSettings.buttonIcon" [ngClass]="iconType">{{ buttonSettings.buttonIcon }}</mat-icon>
  <span [ngClass]="buttonSettings.hideLabel ? 'sr-only' : ''">{{ buttonSettings.buttonLabel }}</span>
</button>

<a
  *ngIf="buttonSettings.buttonType === 'flat'"
  class="app-button"
  mat-flat-button
  color=""
  [ngClass]="buttonSettings.buttonColor || ''"
  [href]="buttonSettings.buttonAction"
  target="_blank"
>
  <mat-icon *ngIf="buttonSettings.buttonIcon">{{ buttonSettings.buttonIcon }}</mat-icon>
  <span [ngClass]="buttonSettings.hideLabel ? 'sr-only' : ''">{{ buttonSettings.buttonLabel }}</span>
</a>
