@import '../../../scss/mixins';
@import '../../../scss/variables';

.iframe-wrapper {
  @include flex($align: flex-start);
  flex-wrap: wrap;
  .dash-iframe {
    flex-grow: 1;
    flex-basis: 1;
    min-width: 600px;
    .iframe-title-wrapper {
      @include flex($justify: space-between);
    }
  }
}


