<div class="iframe-wrapper">
  <app-expandable-panel class="dash-iframe" *ngFor="let frame of sanitizedData" [panelTitle]="frame?.frameTitle || ''" [panelLinkUrl]="frame?.linkUrl" [panelIcon]="frame?.panelIcon" [panelIconColor]="frame?.panelIconColor">
    <iframe
      *ngIf="frame.safeUrl"
      [width]="frame.width || '100%'"
      [height]="frame.height || '600px'"
      frameBorder="0"
      [src]="frame.safeUrl"
    ></iframe>
    <div *ngIf="!frame.safeUrl" class="dash-iframe-load-error">The resource could not be loaded.</div>
  </app-expandable-panel>
</div>
