.card-section {
    margin: 10%;
    padding: 5%;
}

.form-field {
    min-width: 100px;
    max-width: 800px;
    width: 100%;
}
  
.input-field {
    width: 100%;
}

.img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}