@import '../../../scss/variables';
@import '../../../scss/mixins';

@font-face {
    font-family: 'PublicSans-Bold';
    src: url(../../../assets/fonts/PublicSans-Bold.ttf);
}

h1.dashboard-header {
    font-family: 'PublicSans-Bold' !important;
    font-size: $size-header !important;
    padding: 4rem 1.5rem 2rem;
    color: $dark-gray-text;
    width: calc(100% - $sidenav-closed-width);
}

.dashboard-placeholder {
    width: 100%;
    @include flex();
}

.dashboard-flex-wrapper {
  @include flex($align: flex-start);
  flex-wrap: wrap;
  .fifth {
    @include flexWidth(20%);
  }
  .quarter {
    @include flexWidth(25%);
  }
  .third {
    @include flexWidth(33.3%);
  }
  .half {
    @include flexWidth(50%);
  }
  .twoThirds {
    @include flexWidth(66.6%);
  }
  .threeFourths {
    @include flexWidth(75%);
  }
  .full {
    @include flexWidth(100%);
  }
}
