<h1 class="dashboard-header">{{ dashboardTitle }}</h1>
<!-- Breadcrumb / Filter bar -->
<div class="dashboard-flex-wrapper">
  <app-dynamic-dashboard-element
    *ngFor="let element of dashboardElements"
    [ngClass]="element.elementWidth || 'full'"
    [element]="element"
  ></app-dynamic-dashboard-element>
</div>

<div class="dashboard-placeholder" *ngIf="!dashboardElements">This Dashboard has not been configured yet.</div>
