<div class="bar-chart-wrapper">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="error-placeholder" *ngIf="!isLoading && !barChartProperties">Chart data could not be loaded.</div>
  <ngx-charts-bar-vertical
    *ngIf="!isLoading && barChartProperties && (barChartProperties?.chartType === 'vert' || !barChartProperties?.chartType)"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [roundEdges]="globalBarProps.roundEdges"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [barPadding]="globalBarProps.barPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-vertical>
  
  <ngx-charts-bar-vertical-2d
    *ngIf="!isLoading && barChartProperties && barChartProperties?.chartType === 'vertMulti'"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [roundEdges]="globalBarProps.roundEdges"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [barPadding]="globalBarProps.barPadding"
    [groupPadding]="globalBarProps.groupPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-vertical-2d>

  <ngx-charts-bar-horizontal
    *ngIf="!isLoading && barChartProperties && barChartProperties?.chartType === 'horiz'"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [roundEdges]="globalBarProps.roundEdges"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [xScaleMax]="barChartProperties.xScaleMax"
    [barPadding]="globalBarProps.barPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-horizontal>

  <ngx-charts-bar-horizontal-2d
    *ngIf="!isLoading && barChartProperties && barChartProperties?.chartType === 'horizMulti'"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [roundEdges]="globalBarProps.roundEdges"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [barPadding]="globalBarProps.barPadding"
    [groupPadding]="globalBarProps.groupPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-horizontal-2d>

  <ngx-charts-bar-vertical-stacked
    *ngIf="!isLoading && barChartProperties && barChartProperties?.chartType === 'vertStacked'"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [barPadding]="globalBarProps.barPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-vertical-stacked>

  <ngx-charts-bar-horizontal-stacked
    *ngIf="!isLoading && barChartProperties && barChartProperties?.chartType === 'horizStacked'"
    [scheme]="barChartProperties.colorScheme"
    [results]="barChartProperties.results"
    [xAxis]="barChartProperties.showXAxis || true"
    [yAxis]="barChartProperties.showYAxis || true"
    [legend]="barChartProperties.legend"
    [showGridLines]="globalBarProps.showGridLines"
    [showXAxisLabel]="barChartProperties.showXAxisLabel || true"
    [showYAxisLabel]="barChartProperties.showYAxisLabel || true"
    [xAxisTickFormatting]="barChartProperties.xAxisTickFormatting"
    [yAxisTickFormatting]="barChartProperties.yAxisTickFormatting"
    [xAxisLabel]="barChartProperties.xAxisLabel || ''"
    [yAxisLabel]="barChartProperties.yAxisLabel || ''"
    [barPadding]="globalBarProps.barPadding"
    [legendTitle]="barChartProperties.legendTitle"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="barChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-bar-horizontal-stacked>
</div>
