<mat-toolbar color="primary" class="dcco-header">
  <div class="header-container">
    <a class="dcco-app-title" href="/#/home">{{ title }}</a>
    <div class="dcco-emblem-wrapper">
      <div class="dcco-emblem">
        <span class="emblem-text">DCCO</span>
          <img class="emblem-img" src="../../../assets/images/dhs-logo.svg" />
        <span class="emblem-text">DASH</span>
      </div>
    </div>
    <div class="user-container">
      <button mat-button class="button" *ngIf="isLoggedIn" (click)="logout()">Sign Out</button>
      <span class="user-info-wrapper">
        <a *ngIf="isLoggedIn" class="nav-link profile-link" [routerLink]="['profile-view']">
          <span class="user-name">{{ username }}</span>
     <!--        <img *ngIf="photo" src={{photo}} class="img-circle" />
            <mat-icon *ngIf="!photo" class="user-photo-icon" aria-hidden="false" aria-label="user account image icon">account_circle</mat-icon> -->
        </a>
      </span>
    </div>
  </div>
  <mat-divider class="dcco-header-divider"></mat-divider>
  <div class="nav-container" tabindex="1" aria-label="Main Dashboard Navigation">
    <ul class="nav-primary accordion" *ngIf="isLoggedIn">
      <li class="nav-primary-item" *ngFor="let route of appRoutes">
        <a class="nav-link" [routerLink]="[route?.path]" routerLinkActive="nav-link-active"><span>{{ route?.title }}</span></a>
      </li>
    </ul>
  </div>
</mat-toolbar>

