@import '../../../scss/variables';
@import '../../../scss/mixins';

.dcco-header {
  height: 176px;
  @include flex($direction: column, $justify: space-between);
  padding-top: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  .header-container {
    @include flex($align: flex-start, $justify: space-between);
    width: 100%;
    .dcco-app-title {
      color: white;
      font-size: 11px;
      margin-right: auto;
      flex: 1;
    }
    .dcco-emblem-wrapper {
      @include flex();
      margin-bottom: -10px;
      z-index: 2;
      flex: 1;
      .dcco-emblem {
        @include flex();
        .emblem-text {
          font-size: 2rem;
          font-weight: 800;
        }
        .emblem-img {
          padding: 0 1.5rem;
        }
      }
    }
    .user-container {
      @include flex($justify: flex-end, $align: flex-start);
      margin-left: auto;
      flex: 1;
      .user-info-wrapper {
        display: flex;
        height: 36px;
        .profile-link {
          @include flex();
        }
        span.user-name {
          color: white;
          font-size: 14px;
          padding: 0 15px;
        }
        .user-photo-icon {
          color: white;
          font-size: 32px;
          height: 32px;
          width: 32px;
        }
      }
    }
  }
  .dcco-header-divider {
    background: #20BEE3;
    width: 95%;
  }
  .nav-container {
    width: 50%;
    padding-top: 1rem;
    ul.nav-primary {
      @include flex($justify: space-between);
      li.nav-primary-item {
        display: inline-block;
        a.nav-link {
          font-size: 14px;
          color: white;
          text-decoration: none;
          &.nav-link-active {
            border-bottom: 3px solid white;
          }
        }
      }
    }
  }
}
