/**
* Generated theme by Material Theme Generator
* https://materialtheme.arcsine.dev
* Fork at: https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzA3NDY3ZCIsIj9lcjwjYjVjOGQ4IiwiO2VyPCMwNDJmNjB$LCIlPmBePCMwYzY0OGQiLCI~ZXI8I2I2ZDFkZCIsIjtlcjwjMDY0ODcwfiwid2Fybj5gXjwjYzgxMDEwIiwiP2VyPCNlZmI3YjciLCI7ZXI8I2I0MDkwOX4sIj9UZXh0PCMwMDAwMDAiLCI~PTwjZmFmYWZhIiwiO1RleHQ8I2ZmZmZmZiIsIjs9PCMyYzJjMmN$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PFB1YmxpYyBTYW5zfixgQDwoLTMiLCJmYW1pbHk8UHVibGljIFNhbnN$LGBAPCgtMiIsImZhbWlseTxQdWJsaWMgU2Fuc34sYEA8KC0xIiwiZmFtaWx5PFB1YmxpYyBTYW5zfixgQDxoZWFkbGluZSIsImZhbWlseTxQdWJsaWMgU2Fuc34sYEA8dGl0bGUiLCJmYW1pbHk8UHVibGljIFNhbnN$LGBAPHN1YiktMiIsImZhbWlseTxQdWJsaWMgU2Fuc34sYEA8c3ViKS0xIiwiZmFtaWx5PFB1YmxpYyBTYW5zfixgQDxib2R5LTIiLCJmYW1pbHk8UHVibGljIFNhbnN$LGBAPGJvZHktMSIsImZhbWlseTxQdWJsaWMgU2Fuc34sYEA8YnV0dG9uIiwiZmFtaWx5PFB1YmxpYyBTYW5zfixgQDxjYXB0aW9uIiwiZmFtaWx5PFB1YmxpYyBTYW5zfixgQDxpbnB1dCIsImZhbWlseTxQdWJsaWMgU2FucyIsInNpemU$bnVsbH1dLCJpY29uczxPdXRsaW5lZCIsIj9uZXNzPnRydWUsInZlcnNpb24$MTF9
*/

@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Public Sans', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Public Sans', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Public Sans', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Public Sans', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Public Sans', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Public Sans', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Public Sans', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Public Sans', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Public Sans', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Public Sans', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Public Sans', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Public Sans', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Public Sans', 1.5px)
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base:              black,
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba($dark-text, 0.26),
  disabled-text:     $dark-disabled-text,
  elevation:         black,
  secondary-text:    $dark-accent-text,
  hint-text:         $dark-disabled-text,
  accent-text:       $dark-accent-text,
  icon:              $dark-accent-text,
  icons:             $dark-accent-text,
  text:              $dark-primary-text,
  slider-min:        $dark-primary-text,
  slider-off:        rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Background config
// Light bg
$light-background:    #fafafa;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-tooltip:     lighten(#2c2c2c, 20%);
$dark-bg-alpha-4:     rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12:    rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background:               $light-background,
  status-bar:               $light-bg-darker-20,
  app-bar:                  $light-bg-darker-5,
  hover:                    $dark-bg-alpha-4,
  card:                     $light-bg-lighter-5,
  dialog:                   $light-bg-lighter-5,
  tooltip:                  $dark-bg-tooltip,
  disabled-button:          $dark-bg-alpha-12,
  raised-button:            $light-bg-lighter-5,
  focused-button:           $dark-focused,
  selected-button:          $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle:   $light-bg-darker-10,
  unselected-chip:          $light-bg-darker-10,
  disabled-list-option:     $light-bg-darker-10,
);

// Compute font config
@include mat-core($fontConfig);

// Theme Config

body {
  --primary-color: #07467d;
  --primary-lighter-color: #b5c8d8;
  --primary-darker-color: #042f60;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}   
$mat-primary: (
  main: #07467d,
  lighter: #b5c8d8,
  darker: #042f60,
  200: #07467d, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);


body {
  --accent-color: #0c648d;
  --accent-lighter-color: #b6d1dd;
  --accent-darker-color: #064870;
  --text-accent-color: #{$light-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$light-primary-text};
}   
$mat-accent: (
  main: #0c648d,
  lighter: #b6d1dd,
  darker: #064870,
  200: #0c648d, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);


body {
  --warn-color: #c81010;
  --warn-lighter-color: #efb7b7;
  --warn-darker-color: #b40909;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}   
$mat-warn: (
  main: #c81010,
  lighter: #efb7b7,
  darker: #b40909,
  200: #c81010, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);
;

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Theme Init
@include angular-material-theme($theme);

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons';  
  .mat-badge-content {
    font-family: 'Public Sans';
  }
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined' !important;
}
