@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexWidth($width: 100%) {
  width: $width !important;
  max-width: $width !important;
  min-width: $width !important;
  @media screen and (max-width: 1200px) {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
  }
}

@mixin iconSize($size: 24px) {
  height: $size !important;
  width: $size !important;
  font-size: $size !important;
}

@mixin tileSize($width: 40%) {
  width: $width;
  max-width: $width;
}

@mixin themeColorClasses() {
  &.primary {
    background: $primary;
    color: white;
  }
  &.accent {
    background: $accent;
    color: white;
  }
  &.accent-light {
    background: $accent-light;
    color: white;
  }
  &.success {
    background: $success;
    color: white;
  }
  &.warn {
    background: $warn;
    color: white;
  }
  &.neutral {
    background: $neutral;
    color: white;
  }
  &.light {
    background: white;
    color: black;
  }
  &.btnblue {
    background: $resource-button;
    color: white;
  }
  &.severity-none {
    background: $severity-none;
    color: white;
  }
  &.severity-low {
    background: $severity-low;
    color: white;
  }
  &.severity-med {
    background: $severity-med;
    color: black;
  }
  &.severity-high {
    background: $severity-high;
    color: white;
  }
  &.severity-crit {
    background: $severity-crit;
    color: white;
  }
}

@mixin srOnly() {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}