/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import './variables';
@import './mixins';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Additional Resets
a {
	text-decoration: none;
}

.table-wrapper {
  .mat-form-field.column-filter-field {
    width: 100% !important;
    .mat-form-field-infix {
      font-size: 0.875rem;
      width: auto !important;
    }
  }
  .data-table {
    th {
      .table-column-header {
        &.center {
          .mat-sort-header-container {
            justify-content: center;
          }
        }
      }
    }
  }
}

.sidenav-expansion {
  border-radius: 0 !important;
  .sidenav-expansion-header {
    .sidenav-expansion-title {
      margin-right: 0 !important;
    }
    span.mat-expansion-indicator {
      // todo: make this element conditionally appear only when the sidenav is open
      @include srOnly();
    }
  }
  div.mat-expansion-panel-content {
    div.mat-expansion-panel-body {
      padding: 0 !important;
    }
  }
}

.panel-container {
  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      padding: 2rem 1.5rem !important;
    }
  }
}

.side-nav-item,
.side-nav-item-2,
.side-nav-item-3 {
	.mat-list-item-content {
		padding-right: 0 !important;
		.mat-list-text {
			padding-left: 0 !important;
			.mat-line {
				padding-right: 2rem !important;
			}
		}
	}
  &.sidenav-link-active {
    .mat-list-item-content {
      .mat-list-text {
        .mat-line {
          font-weight: 600;
        }
      }
    }
  }
}
.side-nav-item-3 {
	.mat-list-item-content {
		.mat-list-text {
			.mat-line {
				padding-left: 1rem !important;
			}
		}
	}
}

.mat-menu-panel {
  .mat-menu-content {
    .mat-menu-item {
      font-size: 12px;
      height: 40px;
      line-height: 40px;
    }
  }
}

.table-export-buttons {
  .mat-button-base {
    margin: 0 0.25rem;
    .mat-button-wrapper {
      display: flex;
      align-items: center;
      .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }
  }
}

.mat-button-base.app-button {
  &.mat-mini-fab {
    width: 28px !important;
    height: 28px !important;
    box-shadow: none !important;
  }
  .mat-button-wrapper {
    display: flex !important;
    justify-content: center;
    padding: 0 !important;
    .mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }
}

.mat-tooltip {
  @include themeColorClasses();
  font-size: $size-small !important;
  text-align: center;
  line-height: 1.5;
  padding: 0.75rem 1.5rem !important;
}

.mat-chip-list-wrapper {
  padding-left: 15px;
}

.ordering-info-wrapper {
  .ordering-info {
    font-size: $size-normal;
  }
  ul {
    list-style-type: disc;
    padding: 0.5rem 0;
    li {
      display: list-item;
      margin-left: 1rem;
    }
    ul {
      list-style-type: circle;
      li {
        display: list-item;
        margin-left: 2rem;
      }
      ul {
        list-style-type: disc;
        li {
          margin-left: 3rem;
        }
      }
    }
  }
}

.pie-chart-wrapper,
.bar-chart-wrapper {
  ngx-charts-bar-vertical-2d,
  ngx-charts-bar-vertical {
    .ngx-charts-outer {
      .ngx-charts {
        min-height: 600px !important;
      }
    }
  }
  ngx-charts-bar-horizontal-2d,
  ngx-charts-bar-horizontal {
    .ngx-charts-outer {
      .ngx-charts {
        min-height: 400px !important;
      }
    }
  }
  .ngx-charts-outer {
    display: flex !important;
    .ngx-charts {
      float: none !important;
      min-height: 250px;
    }
  }
}

.pie-chart-wrapper {
  .ngx-charts-outer {
    svg.ngx-charts {
      width: 70%;
    }
    ngx-charts-legend {
      width: 30% !important;
      & > div {
        width: 100% !important;
      }
    }
  }
}

.chart-legend {
  .legend-wrap {
    width: 100% !important;
  }
}

.gauge-wrapper {
  margin-top: 30px;
  .ngx-charts-outer {
    // display: flex !important;
    height: 150px !important;
    width: 100% !important;
    .ngx-charts {
      float: none !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}

.sr-only {
  @include srOnly();
}
