
// Font sizes
$size-massive: 5rem; // 80px
$size-title: 3rem; // 48px
$size-title-sm: 2.375rem; // 38px
$size-title-min: 2rem; // 36px
$size-header: 1.75rem; // 28px
$size-header-sm: 1.5rem; // 24px
$size-xlarge: 1.375rem; // 22px
$size-larger: 1.25rem; // 20px
$size-large: 1.125rem; // 18px
$size-normal: 1rem; // 16px
$size-small: 0.875rem; // 14px
$size-smaller: 0.75rem; // 12px
$size-tiny: 0.6875rem; // 11px
$size-min: 0.625rem; // 10px

// Font weights
$weight-heavy: 800;
$weight-bold: 700;
$weight-semibold: 500;
$weight-normal: 400;
$weight-light: 300;
$weight-thin: 200;
$weight-superthin: 100;

// Severity Level Colors
$severity-none: #32976C;
$severity-low: #93C164;
$severity-med: #DEC667;
$severity-high: #D87C32;
$severity-crit: #C41230;

// Theme Colors
$primary: #07467d;
$accent: #0c648d;
$warn: $severity-crit; // #c81010;
$success: $severity-none; // #25b934;
$neutral: #626262;

// Colors
$accent-light: #137E96; // old value (mockups): #20BEE3
$resource-button: #005FA3;

// Text Colors
$light-gray-text: #757575;
$mid-gray-text: #595959;
$dark-gray-text: #303030;
$tile-card-text: #000;

// Tile Card Colors
$tile-card-base-blue: #0C648D;
$tile-card-base-green: #169B6E;
$tile-card-base-red: #9A163E;
$tile-card-sec-blue: #28A1CA;
$tile-card-tert-blue: #21BFE3;
$tile-card-dark-blue: #06477D;
$tile-card-emphasis-text: #D4F733;

// Data Table Colors
$table-expansion-header: #efefef;
$zebra-row-light: #fefefe;
$zebra-row-dark: #f9f9f9;
$table-header-text: #292929;
$table-header-sort-arrow: #343434;

// Footer Colors
$footer-nav: #f0f0f0;
$footer-app-meta: #dcdee0;

// Component Sizing and Spacing
$header-height: 176px;
$sidenav-closed-width: 58px;
$sidenav-opened-width: 200px;
$sidenav-icon-size: 18px;
$sidenav-item-height: $sidenav-closed-width;
$sidenav-subitem-height: 40px;

// Universal Variables
$dashboard-element-border-radius: 3px;
$dashboard-element-padding: 0.75rem;
$dashboard-element-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);