<div class="chart-tooltip" *ngIf="type==='simple' || !type">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'default') }}</span>
</div>

<div class="chart-tooltip" *ngIf="type==='simpleUSD'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'usd') }}</span>
</div>

<div class="chart-tooltip" *ngIf="type==='logUSD'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'logUSD') }}</span>
</div>

<div class="chart-tooltip" *ngIf="type==='simplePercent'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'percent') }}</span>
</div>

<div class="chart-tooltip" *ngIf="type==='logPercent'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'logPercent') }}</span>
</div>

<div class="chart-tooltip" *ngIf="type==='series'">
  <span class="tooltip-label" *ngFor="let series of model">
    {{ series.series }}: {{ series.value }}
  </span>
</div>

<div class="chart-tooltip" *ngIf="type==='severityGauge'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'percent') }} ({{ getSeverityThresholdText(model.value) }})</span>
</div>

<div class="chart-tooltip" *ngIf="type==='gauge'">
  <span class="tooltip-label">{{ formatLabel(model, 'default') }}</span>
  <span class="tooltip-val">{{ formatValue(model, 'percent') }}</span>
</div>
