<div class="pie-chart-wrapper">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <ngx-charts-pie-chart
    *ngIf="!isLoading && pieChartProperties && (!pieChartProperties?.chartType || pieChartProperties?.chartType === 'normal')"
    [scheme]="pieChartProperties.colorScheme"
    [results]="pieChartProperties.results"
    [legend]="pieChartProperties.legend"
    [legendPosition]="pieChartProperties.legendPosition"
    [labels]="pieChartProperties.showLabels"
    [doughnut]="pieChartProperties.isDoughnut"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="pieChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-pie-chart>

  <ngx-charts-advanced-pie-chart
    *ngIf="!isLoading && pieChartProperties && pieChartProperties?.chartType === 'advanced'"
    [view]="[1200, 300]"
    [scheme]="pieChartProperties.colorScheme"
    [results]="pieChartProperties.results"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="pieChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-advanced-pie-chart>

  <ngx-charts-pie-grid
    *ngIf="!isLoading && pieChartProperties && pieChartProperties?.chartType === 'grid'"
    [scheme]="pieChartProperties.colorScheme"
    [results]="pieChartProperties.results"
    (select)="onSelect($event)"
  >
    <ng-template #tooltipTemplate let-model="model">
      <app-chart-tooltip [model]="model" [type]="pieChartProperties?.tooltipType || ''"></app-chart-tooltip>
    </ng-template>
  </ngx-charts-pie-grid>
</div>
