<footer class="dash-footer" *ngIf="isLoggedIn">
  <div class="footer-content">
    <div class="footer-nav">
      <mat-nav-list>
        <a mat-list-item class="footer-nav-item" target="_blank" href="https://usdhs.sharepoint.com/sites/Perspecta_DCCO_Portal/SitePages/Home.aspx">Service Offering List</a>
        <a mat-list-item class="footer-nav-item" href="/#/ordering-info">Ordering Information</a>
        <a mat-list-item class="footer-nav-item" href="/#/points-of-contact">Points of Contact</a>
      </mat-nav-list>
    </div>
    <div class="footer-app-meta">
      <img class="emblem-img" src="../../../assets/images/dhs-logo.svg" /> <span class="app-title">Department of Homeland Security</span>
    </div>
  </div>
</footer>
