@import '../../../scss/mixins';
@import '../../../scss/variables';

footer.dash-footer {
  z-index: 1;
  background-color: #DDDFE0;
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 135px;
  .footer-content {
    @include flex($direction: column);
    .footer-nav {
      @include flex($justify: flex-start);
      width: 100%;
      height: 50px;
      background: $footer-nav;
      .mat-nav-list {
        padding-top: 0 !important;
      }
      .footer-nav-item {
        display: inline-block;
        height: auto;
        width: auto;
      }
    }
    .footer-app-meta {
      height: 85px;
      background: $footer-app-meta;
      @include flex($justify: flex-start, $align: center);
      width: 100%;
      span.app-title {
        font-size: $size-header-sm;
      }
      img.emblem-img {
        height: 45px;
        width: 45px;
        padding: 20px;
      }
    }
  }
}
