@import '../../../scss/mixins';
@import '../../../scss/variables';

.single-score-cards {
  @include flex();
  flex-wrap: wrap;
  .display-card {
    @include flex();
    margin: 5px;
    padding: 1rem 3rem;
    box-shadow: $dashboard-element-box-shadow;
    border-radius: $dashboard-element-border-radius;
    .mat-card-content {
      @include flex($direction: column, $justify: space-between);
      min-height: 100px;
      .display-title {
        font-size: $size-large;
      }
      .display-value {
        font-size: $size-massive;
        line-height: 1;
      }
    }
  }
}