<div class="single-score-cards">
  <mat-card class="display-card" *ngFor="let score of scoreCardsData">
    <mat-card-content class="card-content">
      <div class="display-title">{{ score.title }}</div>
      <div class="display-value">{{ score.count }}</div>
    </mat-card-content>
  </mat-card>
</div>
